<!DOCTYPE html>
<html lang="en">
<head>
   <title>Login Page</title>
   <style>
    h1{
        color: rgb(26, 80, 31);
    }
</style>
</head>
<body>
    <div>
        <%- include('common/header') %>
        <h1>Login Page</h1>
    </div>
</body>
</html>